<header class=" headerColor2 ">
    <div class="container contentHeader">
        <div class="site-header">
            <nav class="nav">
                <a [routerLink]="['/nosotros']" [routerLinkActive]="['actived']">Nosotros</a>
                <a [routerLink]="['/testimoniales']" [routerLinkActive]="['actived']">Testimoniales</a>
                <a [routerLink]="['/contacto']" [routerLinkActive]="['actived']">Contacto</a>
            </nav>

            <div class="login">
                <a [routerLink]="['/signIn']" [routerLinkActive]="['actived']"><img src="../../../assets/img/iniciar-sesion (1).png" alt=""></a>
                <p>Registrarse</p>
            </div>
        </div>
    </div>
</header>



<section class="section container ">
    <h2 class="fw-300 center-text">Tesminoniales de nuestro clientes</h2>

    <div class="containerTes">
        <div class="tes">
            <img src="../../../assets/img/testimonio1.jpg" alt="">
            <div class="testi">
                <blockquote>El personal se comporto de una excelente forma, muy buena atencion y la organización que ofrecieron cumplio con todas mis expectativas.</blockquote>
                <p>Pablo y Rosa Jimenez</p>
            </div>
        </div>

        <div class="tes">
            <img src="../../../assets/img/testimonio2.jpg" alt="">
            <div class="testi">
                <blockquote>Trato, y Organización de primer nivel. expectacular experiencia con el seguimiiento GPS desde la pagina web desde mi Telefono Movil.</blockquote>
                <p>Alberto y Denia Serrano</p>
            </div>
        </div>

        <div class="tes">
            <img src="../../../assets/img/testimonio3.jpg" alt="">
            <div class="testi">
                <blockquote>Rapidos y Organizados, La puntualidad es excelente y todo empazcado cuidadosamente, como si el articulo fuera de la empresa.</blockquote>
                <p>Jenifer Vasquez</p>
            </div>
        </div>

        <div class="tes">
            <img src="../../../assets/img/testimonio4.jpg" alt="">
            <div class="testi">
                <blockquote>Rapidos y Organizados, La puntualidad es excelente y todo empazcado cuidadosamente, como si el articulo fuera de la empresa.</blockquote>
                <p>Jenifer Vasquez</p>
            </div>
        </div>

        <div class="tes">
            <img src="../../../assets/img/testimonio5.jpg" alt="">
            <div class="testi">
                <blockquote>Rapidos y Organizados, La puntualidad es excelente y todo empazcado cuidadosamente, como si el articulo fuera de la empresa.</blockquote>
                <p>Jenifer Vasquez</p>
            </div>
        </div>

        <div class="tes">
            <img src="../../../assets/img/testimonio6.jpg" alt="">
            <div class="testi">
                <blockquote>Rapidos y Organizados, La puntualidad es excelente y todo empazcado cuidadosamente, como si el articulo fuera de la empresa.</blockquote>
                <p>Jenifer Vasquez</p>
            </div>
        </div>

    </div>
</section>

<footer class="footer section ">
    <div class="container container-footer ">
        <nav class="nav">
            <a href="# ">Nosotros</a>
            <a href="# ">Testimoniales</a>
            <a href="# ">Contacto</a>
        </nav>
        <p class="copyright ">Todos los Derechso Reservados 2020 &copy;</p>
    </div>
</footer>