<header class="header headerColor ">
    <div class="opacity">
        <div class="container contentHeader">
            <div class="site-header">
                <nav class="nav">
                    <a [routerLink]="['/nosotros']" [routerLinkActive]="['actived']">Nosotros</a>
                    <a [routerLink]="['/testimoniales']" [routerLinkActive]="['actived']">Testimoniales</a>
                    <a [routerLink]="['/contacto']" [routerLinkActive]="['actived']">Contacto</a>
                </nav>

                <div class="login">
                    <a [routerLink]="['/signIn']" [routerLinkActive]="['actived']"><img src="../../../assets/img/iniciar-sesion (1).png" alt=""></a>
                    <p>Registrarse</p>
                </div>
            </div>
            <h1>Mudanzass de todo tipo de articulos con monitoreo GPS</h1>
        </div>
    </div>
</header>

<section class="container section">
    <h2 class="fw-300 center-text">Más Sobre nosotros</h2>

    <div class="icons-nosotros">
        <div class="icon">
            <img src="../../../assets/img/icono1.svg" alt="icono seguridad">
            <h3>Seguridad</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo dicta tempora fugit eum doloribus, quibusdam incidunt voluptatum. At perferendis aspernatur fugit. Ipsa cum molestiae numquam illum tenetur eligendi laudantium eaque?</p>
        </div>

        <div class="icon">
            <img src="../../../assets/img/icono2.svg" alt="icono mejor precio">
            <h3>El Mejor Precio</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo dicta tempora fugit eum doloribus, quibusdam incidunt voluptatum. At perferendis aspernatur fugit. Ipsa cum molestiae numquam illum tenetur eligendi laudantium eaque?</p>
        </div>

        <div class="icon">
            <img src="../../../assets/img/icono3.svg" alt="icono a tiempo">
            <h3>A Tiempo</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo dicta tempora fugit eum doloribus, quibusdam incidunt voluptatum. At perferendis aspernatur fugit. Ipsa cum molestiae numquam illum tenetur eligendi laudantium eaque?</p>
        </div>

    </div>
</section>

<section class="container">
    <h2 class="fw-300 center-text">Tesminoniales de nuestro clientes</h2>

    <div class="containerTes">
        <div class="tes">
            <img src="../../../assets/img/testimonio1.jpg" alt="">
            <div class="testi">
                <blockquote>El personal se comporto de una excelente forma, muy buena atencion y la organización que ofrecieron cumplio con todas mis expectativas.</blockquote>
                <p>Pablo y Rosa Jimenez</p>
            </div>
        </div>

        <div class="tes">
            <img src="../../../assets/img/testimonio2.jpg" alt="">
            <div class="testi">
                <blockquote>Trato, y Organización de primer nivel. expectacular experiencia con el seguimiiento GPS desde la pagina web desde mi Telefono Movil.</blockquote>
                <p>Alberto y Denia Serrano</p>
            </div>
        </div>

        <div class="tes">
            <img src="../../../assets/img/testimonio3.jpg" alt="">
            <div class="testi">
                <blockquote>Rapidos y Organizados, La puntualidad es excelente y todo empazcado cuidadosamente, como si el articulo fuera de la empresa.</blockquote>
                <p>Jenifer Vasquez</p>
            </div>
        </div>
    </div>


    <div class="see-all">
        <a href="#" class="button button-green">Ver Todos</a>
    </div>
</section>

<section class="image-contact contactColor">
    <div class="container content-contacto">
        <h2>Excelencia, puntualidad y seguridad</h2>
        <p>Con mas de 10 mil mudanzas realizadas, somos la compañia #1 en el mercado. Registrese para tramitar su mudanza.</p>
        <a class=" button button-yellow ">Registrarse</a>
    </div>
</section>

<footer class="footer section ">
    <div class="container container-footer ">
        <nav class="nav">
            <a [routerLink]="['/nosotros']" [routerLinkActive]="['actived']">Nosotros</a>
            <a [routerLink]="['/testimoniales']" [routerLinkActive]="['actived']">Testimoniales</a>
            <a [routerLink]="['/contacto']" [routerLinkActive]="['actived']">Contacto</a>>
        </nav>
        <p class="copyright ">Todos los Derechso Reservados 2020 &copy;</p>
    </div>
</footer>